<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzjyDvVLCK_dlexdE4wqFGF3FeS6DnbQc</string>
	<key>GCM_SENDER_ID</key>
	<string>95599106309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEbookWebsite.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ebook-2a423</string>
	<key>STORAGE_BUCKET</key>
	<string>ebook-2a423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95599106309:ios:187c0566803b4e9353bf6c</string>
</dict>
</plist>